## Data supplied
We have three CSV data files:
- train_features.csv: Each row represents metadata for an individual job posting. The “jobId” column represents a unique identifier for the job posting. The remaining columns describe other features of the job posting.
- train_salaries.csv: Each row associates a “jobId” with a “salary”.
- test_features.csv: Similar to train_features.csv, each row represents metadata for an individual job posting. The first row of each file contains headers for the columns. Keep in mind that the metadata and salary data may contain errors.

### The task
Build a model to predict the salaries for the job postings contained in test_features.csv. The output of the system should be a CSV file entitled test_salaries.csv where each row has the following format:

jobId, salary

As a reference, the output should mirror the format of train_salaries.csv.

In [1]:
__author__ = "Nishant Gadhvi"

In [1]:
# Import the libraries
import pandas as pd
import sys
sys.path.insert(0, './helpers')
# now read in the helper functions
from helper import merge_data

### Loading the data set
This data set has the job description starting with the jobId and companyId where jobId is our unique identifier here for the job posting. Rest all columns are our features. A similar data will be provided to make predictions later on.

In [2]:
# Load the file to be used for training into a pandas dataframe
df_feat = pd.read_csv('derived_data/train_features.csv')
df_feat.head()

,jobId,companyId,jobType,degree,major,industry,yearsExperience,milesFromMetropolis
0,JOB1362684407687,COMP37,CFO,MASTERS,MATH,HEALTH,10,83
1,JOB1362684407688,COMP19,CEO,HIGH_SCHOOL,NONE,WEB,3,73
2,JOB1362684407689,COMP52,VICE_PRESIDENT,DOCTORAL,PHYSICS,HEALTH,10,38
3,JOB1362684407690,COMP38,MANAGER,DOCTORAL,CHEMISTRY,AUTO,8,17
4,JOB1362684407691,COMP7,VICE_PRESIDENT,BACHELORS,PHYSICS,FINANCE,8,16

### Target feature
Our goal is to predict salary for the given job prediction. Naturally, salary becomes our taget variable for this problem. The file train_salaries.csv contains salaries for every job description in the file train_features.csv.

In [12]:
# Load the file containing salaries w.r.t. the jobId to be used for training into a pandas dataframe
df_salaries = pd.read_csv('derived_data/train_salaries.csv')
df_salaries.head()

              jobId  salary
0  JOB1362684407687     130
1  JOB1362684407688     101
2  JOB1362684407689     137
3  JOB1362684407690     142
4  JOB1362684407691     163

### Exploring the raw data set

In [13]:
# We want to see how many examples in train_features.csv does not have salaries in the file train_salaries.csv
len(set(df_feat.jobId)) - len(set(df_salaries.jobId))

0

This means we have salaries for all the job descriptions provided and vice versa.

In [14]:
# Next, we want to see if there are any salaries that do not have a matching job description
len(set(df_salaries.jobId)) - len(set(df_feat.jobId))

0

### Merge the data set
For simplicity we will merge the features data (df_feat) and the target variable data (df_salaries)

In [15]:
# Let's look what this merging function looks like
merge_data??

Signature: merge_data(feature, target)
Source:
def merge_data(feature, target):
    """Merge the features and label datasets. Both need to have a common key `jobId`

    Keyword arguments:
    feature -- the dataframe of job description
    target -- the dataframe of salaries

    Returns:
    a merged pandas dataframe
    """
    merged_df = pd.merge(feature, target, on='jobId')
    return merged_df
File:      ~/Documents/DSDJ/CaseStudy/salary_prediction/helpers/helper.py
Type:      function

In [16]:
# We will call a helper function we created to join two data frames we had for job descriptions and their salaries
df_train_merged = merge_data(df_feat, df_salaries)
del df_feat
del df_salaries         # Saving memory 
df_train_merged.head()

,jobId,companyId,jobType,degree,major,industry,yearsExperience,milesFromMetropolis,salary
0,JOB1362684407687,COMP37,CFO,MASTERS,MATH,HEALTH,10,83,130
1,JOB1362684407688,COMP19,CEO,HIGH_SCHOOL,NONE,WEB,3,73,101
2,JOB1362684407689,COMP52,VICE_PRESIDENT,DOCTORAL,PHYSICS,HEALTH,10,38,137
3,JOB1362684407690,COMP38,MANAGER,DOCTORAL,CHEMISTRY,AUTO,8,17,142
4,JOB1362684407691,COMP7,VICE_PRESIDENT,BACHELORS,PHYSICS,FINANCE,8,16,163

Now this is what we'll call our modeling file because it has all the data needed to build the model. Let's put it in a directory called derived_data so we can read it in in the next notebook.

In [17]:
# Make a directory to hold our derived data
!mkdir -p derived_data

In [18]:
# Export the merged data to a csv for our further use in modeling
df_train_merged.to_csv('./derived_data/train_data_merged.csv', index=False)