## Data supplied
We have three CSV data files:
- train_features.csv: Each row represents metadata for an individual job posting. The “jobId” column represents a unique identifier for the job posting. The remaining columns describe other features of the job posting.
- train_salaries.csv: Each row associates a “jobId” with a “salary”.
- test_features.csv: Similar to train_features.csv, each row represents metadata for an individual job posting. The first row of each file contains headers for the columns. Keep in mind that the metadata and salary data may contain errors.

### The task:
Build a model to predict the salaries for the job postings contained in test_features.csv. The output of the system should be a CSV file entitled test_salaries.csv where each row has the following format:

jobId, salary

As a reference, the output should mirror the format of train_salaries.csv.

In [5]:
__author__ = "Nishant Gadhvi"

In [2]:
# Import the libraries
import pandas as pd

In [7]:
# Load the file to be used for training into a pandas dataframe
df_feat = pd.read_csv('derived_data/train_features.csv')
df_feat.head()

,jobId,companyId,jobType,degree,major,industry,yearsExperience,milesFromMetropolis
0,JOB1362684407687,COMP37,CFO,MASTERS,MATH,HEALTH,10,83
1,JOB1362684407688,COMP19,CEO,HIGH_SCHOOL,NONE,WEB,3,73
2,JOB1362684407689,COMP52,VICE_PRESIDENT,DOCTORAL,PHYSICS,HEALTH,10,38
3,JOB1362684407690,COMP38,MANAGER,DOCTORAL,CHEMISTRY,AUTO,8,17
4,JOB1362684407691,COMP7,VICE_PRESIDENT,BACHELORS,PHYSICS,FINANCE,8,16

In [9]:
# Load the file to be used for training into a pandas dataframe
df_salaries = pd.read_csv('derived_data/train_salaries.csv')
df_salaries.head()

              jobId  salary
0  JOB1362684407687     130
1  JOB1362684407688     101
2  JOB1362684407689     137
3  JOB1362684407690     142
4  JOB1362684407691     163